#form-div {
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 10px;
}

.col-md {
    margin-bottom: 5px;
}

body {
    text-align: center;
}

.buttondiv {
    margin-top: 5px;
}